* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../imagen-principal/fondo1.npg.jpg);
  display: grid;
  grid-template-areas: 'header header header header' 'main main main main' 'footer footer footer footer'; }
  @media screen and (min-width: 720px) {
    body {
      background-color: #8b1313; } }
  @media screen and (min-width: 320px) {
    body {
      background-color: blue; } }

h1 {
  text-align: center;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: black;
  text-decoration: underline; }

h2 {
  text-align: center;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 40px;
  font-weight: 350;
  color: black; }

.principal {
  grid-area: main;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  margin: 10px;
  padding: 30 px;
  color: black;
  text-align: center; }

.navegador {
  grid-area: header;
  background-color: palevioletred;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center; }

.navbar-dark .navbar-nav .nav-link {
  text-decoration: none;
  width: fit-content;
  border-right: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  font-size: 1.7rem;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
  word-spacing: 5px;
  line-height: 2;
  color: gold; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: #5fd0ef; }

.nav-item:hover {
  transform: scale(1.5);
  transition: all 1s; }

.navbar-collapse {
  flex-grow: initial; }

.pie {
  grid-area: footer;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 50px; }

.bi-telephone {
  color: black; }

.tamanioFoto {
  max-width: 300px;
  max-height: 250px;
  vertical-align: 25px; }

.principal__arco {
  margin-top: 25px;
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center; }

.textoComun {
  color: black;
  font-family: 'Mouse Memoirs';
  font-size: xx-large;
  letter-spacing: 0,5px;
  word-spacing: 0,2px;
  line-height: 1;
  list-style: none;
  text-align: center;
  display: grid;
  margin: 50px; }

.col-sm-12 {
  color: black;
  text-align: justify; }

.col-sm-12 {
  max-width: 500px;
  max-height: 500px; }

.nube1 {
  margin-top: 25px;
  padding-left: 300px; }

.nube4 {
  padding-left: 450px; }

.nube2 {
  padding-right: 450px; }

.nube3 {
  padding-left: 450px; }

.botonVerde {
  width: fit-content;
  margin: 15px;
  padding: 10px;
  border-radius: 3px;
  border-color: white;
  background-color: green; }

.botonRojo {
  width: fit-content;
  margin: 15px;
  padding: 10px;
  border-radius: 3px;
  border-color: white;
  background-color: red; }

.col-sm-12 col-lg-8 {
  color: black;
  text-align: justify; }

.col-sm-12 col-lg-4 {
  border-right: 2px solid black;
  border-radius: 2px;
  max-width: 450px;
  max-height: 450px;
  border-spacing: 2px; }

.formulario {
  justify-content: center; }

.letraForm {
  font-family: 'Mouse Memoirs', sans-serif; }

.galeria__container {
  padding-top: 10px;
  vertical-align: 5px; }

.item1:hover {
  transform: scale(1.5) rotate(360deg);
  transition: all 1s; }

.item2:hover {
  transform: scale(1.5) rotate(360deg);
  transition: all 1s; }

.item3:hover {
  transform: scale(1.5) rotate(360deg);
  transition: all 1s; }

.item4:hover {
  transform: scale(1.5) rotate(360deg);
  transition: all 1s; }

.item5:hover {
  transform: scale(1.5) rotate(360deg);
  transition: all 1s; }

.item6:hover {
  transform: scale(1.5) rotate(360deg);
  transition: all 1s; }

.iframe {
  text-align: center; }

.tamanioFoto1 {
  text-align: center;
  padding-top: 10px; }
