.principal__arco{
    margin-top: 25px;
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    }
    .textoComun{ 
        color: map-get($colores, "color-principal");
        font-family:'Mouse Memoirs';
        font-size:xx-large;
        letter-spacing: 0,5px;
        word-spacing: 0,2px;
        line-height:1;
        list-style:none;
        text-align:center;
        display: grid;
        margin: 50px;
    }

    .col-sm-12{
        color: map-get($colores,"color-principal");
        text-align: justify;
    }
    .col-sm-12{
        max-width: 500px;
        max-height: 500px;
     }

        .nube1{
        margin-top: 25px;
        padding-left: 300px;
        } 
        .nube4{
            padding-left: 450px;
         }
         .nube2{
        padding-right: 450px;
        }
        .nube3{
            padding-left: 450px;
        }
       